node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

public/hot
public/storage
storage/*.key
storage/framework/cache/data/*
storage/logs/*
bootstrap/cache/*.php

.env
.env.*
.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace

.git
.gitignore
.gitattributes
!.env.docker
